.card {
  display: inline-block;
  margin: 16px;
}
#avocadorecipe,
#spinachsaladrecipe,
#cbrecipe,
#yogurtrecipe,
#pancakerecipe,
#squashrecipe,
#pastarecipe,
#burritorecipe,
#tacorecipe,
#ssmoothierecipe,
#gsmoothierecipe,
#bsmoothierecipe {
  display: none;
  overflow: scroll;
  height: 200px;
}
